{% extends 'base.html' %}

{% block content %}

<section class="hero-section text-light d-flex align-items-center">
    <div class="container text-center">

        <h1 class="display-3 fw-bold">
            Find Trusted Workers Near You
        </h1>

        <p class="lead mt-4">
            Plumbers, electricians, carpenters, painters and daily workers.
        </p>

        <a href="/workers" class="btn btn-warning btn-lg mt-3">
            Explore Workers
        </a>

    </div>
</section>

<section class="container py-5">

    <div class="row text-center">

        <div class="col-md-4 mb-4">
            <div class="card p-4 shadow">
                <h3>Verified Workers</h3>
                <p>Find trusted service providers instantly.</p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card p-4 shadow">
                <h3>Easy Booking</h3>
                <p>Book workers for daily routine tasks.</p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card p-4 shadow">
                <h3>Daily Jobs</h3>
                <p>Workers can find work opportunities every day.</p>
            </div>
        </div>

    </div>

</section>

{% endblock %}